# Python (backend)
backend/.venv/
backend/__pycache__/
*.pyc
backend/.env

#Node.js (Frontend)
frontend/node_modules/
frontend/dist/

# Docker & Database
postgres_data/

#Environment Variables (Security)
.env   

# OS
.DS_Store
Thumbs.db

alembic.ini
alembic/versions/env.py

# trading
backend/trading/trading.log
backend/trading/bot_state.json

# dependencies
node_modules/
